.mainPage{
  margin-top: 12px;
}

.undoButtonStyle{
  display: flex;
  justify-content: center;
  margin-top: 4px;
}

.callModalWindowsStyle{
  display: flex;
  justify-content: center;
  margin-top: 4px;
}

.button{
  margin-left: 4px;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #fff;
  background-color: rgb(0, 78, 154, 1);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 15px;
}

.buttonDisabled{
  background-color:gray;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 15px;
  margin-left: 4px;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #fff;
}

.button:hover{
  color: #f6980c;
  transition: background-color 0.3s ease-in;
}

.rows{
  margin-top: 12px;
}